html {
    scroll-behavior: smooth;
  }
  
nav {
    font-family: Poppins, sans-serif;

}
h1{
    font-family: Poppins, sans-serif;
    font-weight: 300 !important;
}
hr.custom-width {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.custom-img {
    height: 150px;
    object-fit: cover;
  }

  footer {
    font-family: "poppins";
    font-weight: lighter;
    font-size: 24px;
    padding: 20px 0;
  }
 
  .icono-social {
    font-size: 24px;
    margin-right: 10px;
    color: white;
    line-height: 40px;
    text-align: center;
    background-color: #007bff;
  }